/*table de matière ---

---accueil---                .ligne24

---les menus---              .ligne341

*/


*{font-family: 'Roboto', sans-serif;}
body {
    margin: 0;
}




/*---accueil---*/




/*tete_de_page*/
.bloc_titre {
width: 100%;
height: 3rem;
}
.titre {
    font-family: 'Shrikhand', cursive; 
    text-align: center;
   
}

/*barre_de_recheche*/

.barre_recheche {
    
    width: 100%;
    height: 3rem;
    background-color: rgb(232, 232, 233);
    display: flex;
    justify-content: center;
    border-top: solid 3px rgb(202, 202, 202);
}
.recheche {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  
}
.point_recherche {
    margin-top: 1rem;
}
.text_recherche  {
    background-color:rgb(232, 232, 233) ;
    border: none;
}
::placeholder {
    color: #000;
    font-weight: normal;
   
}

/*paregraphe*/

.paragraphe {
    width: 100%;
    height: 280px;
    background-color:rgb(248, 248, 248) ;
    display: flex;
    justify-content: center;
    
}
.para_text {
    width: 100%;
    display: flex;
    justify-content: center;
}
.para_titre {
  width: 70%;
}
.para {
    text-align: center;
    width: 95%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.para_titre {
    margin-top: 0;
}
.para_sous {
    margin-top: 0;
    color:rgb(141, 139, 139);
    font-weight: lighter;
}

/*bouton_explorer*/


.btn_exp {
    width: 100%;
}
.explorer {
    width: 245px;
    height:  50px;
    border-radius: 25px 25px 25px 25px;
    color: rgb(250, 248, 248);
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
  
    
}
.explorer:hover {
    background:  #9c3c81 ; 
}


/*navigation*/

/*fitre*/ 



.fonction {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
   
}


/*btn_filtre*/

.filtre {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.btn_centre {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.btn {
    width: 350px;
    height: 75px;
    border-radius: 25px 25px 25px 25px; 
    box-shadow: 1px 1px 10px 0px rgba(104, 103, 103, 0.2);
    display: flex;
    justify-content:space-evenly ;
    background-color:rgb(248, 248, 248) ;
    text-decoration: none;
}

.btn_number {
    margin-left: -65px;
    width: 25px;
    height: 25px;
    background-color:#9356DC ;
    border-radius: 25px 25px 25px 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 26px;
}
.number {
    margin-top: 3px;
}
.btn_icone {
    margin-top: 30px;
    
}
.text {
   padding-top: 15px;
   color: #000;
}
.btn:hover{
    background-color: #f2ecfa;
    color: #9356DC;
   
}
.icon_fitre  {
   
    font-size: 20px ; 
    
}

/*restaurant*/ 
.restauran{
    width: 100%;
    height: 1300px ;
    background-color: rgb(248, 248, 248);
}
.res_titre {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}


/*cards*/ 
/*novo_cards*/
.position_cards {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center; 
}

.novo_cards {
    width: 330px;
    height: 250px;
    background-color: rgb(253, 253, 253);
    border-radius: 15px 15px 15px 15px; 
    box-shadow: 1px 1px 10px 0px rgba(104, 103, 103, 0.2);
    text-decoration:none;
    color: #000;
}
.novo_cards:hover {
        box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);

}
.img_novo {
    width: 330px;
    height: 190px;
    border-radius: 15px 15px 0px 0px; 
    object-fit: cover;
}
.position_text {
    margin: 0;
   
    padding-top: 5px;
}
.tirtre_card {
    margin: 0;
}
.novo {
    width: 81px;
    height: 20px;
    position: absolute;
    margin-left: 230px;
    margin-top: 15px;
    background-color: rgb(139, 247, 229);
    text-align: center;
    padding-top: 4px;
    border-radius: 3px 3px 3px 3px; 
    color: rgb(92, 161, 135);
    border:rgb(92, 161, 135) solid 1px;
    font-size: 15px;
    
    
}

.res_nom {
    margin: 0;
    color: rgb(148, 140, 140);
    padding-top: 5px;
    font-weight: lighter;
}

.position_coeur_text {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 25px; 
}
.icone_coeur {
    padding-top: 15px;
    color: rgb(148, 140, 140);
    font-size: 20px;

}

.icone_coeur:hover {
    color:#9356DC ; 
}


/*footer*/

.fin_de_page {
    width: 100%;
    height: 250px;
    background-color: rgb(39, 39, 39);
   
    padding-top: 5px;
}
.footer_titre {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    color:white;
    font-family: 'Shrikhand', cursive; 
    font-weight: lighter;
}
.footer_para {
    width: 210px;
    color:white;
    display: flex;
    justify-content: space-evenly;
    text-decoration:none;
}
.footer_para_2 {
    width: 180px;
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
    text-decoration:none;
}
.footer_para_3 {
    width: 130px;
    display: flex;
    justify-content: flex-end;
    color:white;
    padding-top: 8px;
    text-decoration:none;
}
.footer_para_4 {
    width: 65px;
    display: flex;
    justify-content: flex-end;
    color:white;
    padding-top: 8px;
    text-decoration:none;
}

.footer_mention {
    display: flex;
    flex-direction: column;
}




/*---les menus---*/




/*tete_de_page*/


.titre_palette {
    width: 330px;
    height: 63px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 13px;
}
.arrow {
    margin-top: 35px;
   font-size: 20px;
}

.image_tete_de_pasge {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0;
    padding: 0;

}



.btn_arrow{
    color: rgba(10, 10, 10, 0.664);
}



/*nav*/  
/*titre*/



.titre_position {
    position: absolute;
    width: 100%;
    height: 84px;
    border-radius: 35px 35px 0px 0px; 
    z-index: 1;
    background-color: rgb(248, 248, 248);
    top:  18rem;
}
.titre_nav {
    display: flex;
    justify-content: space-evenly;
}

.icone_coeur_pal {
    padding-top: 25px;
    font-size: 25px;
}

/*entrees*/ 

.entrees {
    width: 100%;

    background-color: rgb(248, 248, 248);
  
   
}
.poste {
    display: flex;
    justify-content: center;
    
}

.titre_entrees {
  width: 100px;
  padding-top: 30px;
  display: flex;
  justify-content:flex-end;
}
.titre_desserts {
    width: 112px;
    padding-top: 30px;
    display: flex;
    justify-content:flex-end;
  }

  .titre_plats {
    width: 75px;
    padding-top: 30px;
    display: flex;
    justify-content:flex-end;
  }
.text_entrees {
   font-weight: lighter;
   font-size: 18px;
   
}
.ligne_vrets {
    width: 45px;
    height: 4px;
    background-color: springgreen;
   
}
 .ligne_poste {
     width: 68px;
     display: flex;
     justify-content: end;
 }

.cards_50 {
   
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.cards_mini {
    width: 375px ;
    height: auto;
    background-color: rgb(253, 253, 253);
    border-radius: 15px 15px 15px 15px; 
    box-shadow: 1px 1px 10px 0px rgba(104, 103, 103, 0.2);
    text-decoration:none;
    display: flex;
    justify-content:space-around;
    margin-top: 15px;
}

.cards_mini:hover {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}
.text_prix {
    color: #000;
    width: 275px;
}

.text_1 {
  font-size: large; 
   margin: 0px;
   margin-top: 15px;
  
}
.text_2 {
    font-weight: lighter;
     margin: 0px;
     margin-top: 4px;
     font-size: 12px;
     margin-bottom: 15px;
 }

 .prix {
   margin-top: 40px;  
   color: #000;
 }
  
.btn_commende {
   width: 100%;
   height: 100px; 
   display: flex;
   justify-content: center;
   padding-top: 30px;
   background-color: rgb(248, 248, 248);
}
